version: '3'
services:
  ackee:
    image: electerious/ackee
    container_name: ackee
    restart: always
    ports:
      - "3000:3000"
    environment:
      - WAIT_HOSTS=mongo:27017
      - ACKEE_MONGODB=mongodb://mongo:27017/ackee
      - ACKEE_ALLOW_ORIGIN=http://localhost:1313,https://yaronhorsky.com
      - ACKEE_USERNAME=yaron
      - ACKEE_PASSWORD=yaron
    depends_on:
      - mongo

  mongo:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - ackee-mongo:/data/db

volumes:
  ackee-mongo:
